:root {
    --base: #20272F;
    --level-1: #E95354;
    --level-2: #CE2B2C;
    --level-3: #B41C1B;
    --level-4: #870F10;
    --level-5: #6A1010;
}

@font-face {
    font-family: 'texte';
    src: url("../assets/fonts/WorkSans-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'texte', sans-serif;
    /* border: 1px solid green; */
}

body {
    background: var(--base);
    min-height: 100vh;
}

nav {
    background-color: var(--base);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}
nav label {
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    padding: 0 30px;
    transition: all .5s ease;
}
nav label:hover {
    background: linear-gradient(90deg, var(--level-1), var(--level-2), blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav ul {
    list-style: none;
    float: right;
    margin-right: 10px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 10px;
    transition: all .2s ease;
}
nav ul li a:hover {
    background: var(--level-1);
    text-shadow: 2px 2px black;
}
.active {
    border: 2px solid var(--level-1);
}

@media (max-width: 768px) {
    nav { height: 50px;}
    nav label {
        font-size: 25px;
        line-height: 50px;
        padding: 0 10px;
    }
    nav ul li a {
        font-size: 10px;
        padding: 5px 15px;
    }

    nav ul li { line-height: 50px;}
}