/* Main part */
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/images/background.jpg');
    background-size: cover;
    background-position: center center;
    /* background-repeat: no-repeat; */
}

.container {
    max-width: 50vw;
    margin-top: 80px;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 8%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.102);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.395),
    inset 3px 3px 5px rgba(255, 255, 255, 0.215);
}

#image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    transition: all .3s ease;
}
#image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#description {
    max-width: 50%;
    color: white;
}

#hello {
    font-size: 20px;
}
#hello span {
    color: var(--level-1);
    font-weight: 700;
}

#name {
    font-size: 50px;
    color: var(--level-1);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.383);
    font-weight: bolder;
    margin: 10px 0;
}

#description1 {font-size: 20px;}
#description2 {
    font-size: 13px;
    margin: 20px 0;
}

#description #description1, #description2 {
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.479);
}

#btn-container {
    width: 100%;
    display: flex;
}
#description button {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: var(--level-1);
    font-weight: 500;
    box-shadow: 0px 5px 10px 0 var(--level-1);
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: all .2s ease;
}
#description button:hover {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.551);
    font-size: 16px;
    background-color: var(--level-2);
    box-shadow: 0px 5px 10px 0 var(--level-2);
}
#description button:active {
    /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.551);
    font-size: 16px; */
    background-color: var(--level-2);
    box-shadow: 0px 5px 10px 0 var(--level-2);
}

@media (max-width: 768px) {
    main {
        padding: 30px 0;
    }

    .container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    #image {
        width: 180px;
        height: 180px;
    }
    #description {max-width: 100%;}
    #btn-container {justify-content: center;}
}