:root {
    --block-padding-left: 48px;
}
.container {
    margin-top: calc(var(--nav-bar-height) + 48px);
    display: flex;
    justify-content: space-between;
    color: var(--blanc);
}




.highlight {
    position: relative;
    display: inline-block;
    padding: 0 4px;
    color: var(--sec);
    font-weight: bold;
}
.highlight::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--sec);
    z-index: -1;
    transition: all .5s ease;
}
.highlight:hover {
    transition: all .2s ease;
    color: rgba(255, 255, 255, 0.882);
}
.highlight:hover::before { width: 100%; }
.text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.text h2 {
    display: inline-block;
    background: linear-gradient(45deg, var(--bleu), var(--sec), var(--bleu), var(--sec));
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.text p {
    line-height: 1.25;
    margin-right: var(--block-padding-left);
    font-size: 1.1em;
}


.image {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}
.img_container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 4px;
    margin-left: var(--block-padding-left);
}
.img_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 640px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: var(--block-padding-left);
    }

    .img_container { margin-left: 0; }

    .text { 
        margin-top: var(--block-padding-left); 
        margin-left: var(--block-padding-left);
        margin-right: var(--block-padding-left);
    }

    .highlight { 
        color: white; 
        border-radius: 4px;
        overflow: hidden;
        padding: 0 8px;
    }
    .highlight::before { width: 100%; }

    .text p { margin-right: 0; }
}