:root {
  --nav-bar-height: 40px;

  --blanc: #fafafa;
  --gris: #2C3E50;
  --bleu: #2980B9;
  --gris-bleu: #BDC3C7;
  --sec: tomato; /*#F39C12*/
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--gris);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Linear B", sans-serif;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px dashed var(--bleu);
  min-height: 100vh;
  width: 90%;
}